extends layout

block content
  // Begin Page Content 
  .container-fluid
    // Page Heading 
    h1.h3.mb-2.text-gray-800 Dashboard
    p.mb-4 List of your solved tasks. From here you can view/delete your tasks
    // DataTales Example 
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Solved Tasks
      .card-body
        .table-responsive
          table.table.table-bordered#dataTable(width='100%', cellspacing='0')
            thead
              tr
                th Task
                th Category
                th Date
                th View Task
                th Delete Task
            tfoot
              tr
                th Task
                th Categoty
                th Date
                th View Task
                th Delete Task
            tbody
              each task in tasks
                tr
                  td= task.taskName
                  td= task.contentData[0].scanner
                  td= task.date
                  td
                    a.btn.btn-info.btn-icon-split(href=`/api/solution/${task.id}`)
                      span.icon.text-white-50
                        i.fas.fa-info-circle
                      span.text View
                  td
                    form(action=`/api/solution/delete/${task.id}`, method='POST', onsubmit="return confirm('Are you sure you want to delete your solution?');")
                      input(type='hidden', name='_csrf', value=_csrf)
                      button.btn.btn-danger.btn-icon-split(type='submit')
                        span.icon.text-white-50
                          i.fas.fa-trash
                        span.text Delete
